doctype html

html
  head
    title title
  body
    .container
      .profile
        h2 Welcome #{name}
            img.pic(src=avatar_url alt='PD Avatar')
            h2 Your services (#{svcs.length})
              table()
                thead
                  tr
                    th() #
                    th() Name
                    th() Status
                    each svc, index in svcs
                      tbody
                        tr
                        th() #{index + 1}
                          td 
                            a(href=svc.self) #{svc.name} 
                            td #{svc.status}
                                
